<button nz-button nzSize="large" nzType="primary">Primary</button>
<br>
<br>
<button nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="search"></i></button>
<br>
<br>
<button nz-button nzType="default">
    <i nz-icon nzType="up" nzTheme="outline"></i>
    Search
</button>
<br>
<h1>h1. Ant Design</h1>
<h2>h2. Ant Design</h2>
<h3>h3. Ant Design</h3>
<h4>h4. Ant Design</h4>
<h5>h5. Ant Design</h5>
<hr>
<h1 nz-typography>h1. Ant Design</h1>
<h2 nz-typography>h2. Ant Design</h2>
<h3 nz-typography>h3. Ant Design</h3>
<h4 nz-typography>h4. Ant Design</h4>
<h5 nz-typography>h5. Ant Design</h5>